/******ADMIN******/

/****HOOM*****/
body{
	main{
		padding: 0;
		margin: 0;
		background-color:$background-color;
		header{
			margin: 0;
		}
		section{
		
			
					h1,
					h2{
						color: $dark-color;
						text-align: center;
						margin: 2%;
					}

				nav{
					
					align-items: center;
					display: flex;
					justify-content: space-around;
					margin-bottom: 2%;
				
				a{  
					padding: 2%;
					font-size: large;
				}
				a:hover{
					background-color:$secondary-color;
					color: $primary-color;
				}
				}
				img {
					width: 50px;
					height: auto;
				}
				.adminHomeRecherche{
					width: 100%;
					margin: auto;
					padding: 3%;
					select{
						width: 30%;
					}
					input{
						width:30%,
					}
				
				}
				//General
			
			table {
				color:$dark-color;
				font-size: large;
				width: 80%;
				padding: 5%;
				margin: auto;
				border-collapse: collapse;
				a{
					color:$secondary-color ;
					padding: 5px 20px;
					
				}
				button:hover{
				
					background-color:rgb(54, 71, 249);
				}
				a:hover{
					background-color: $secondary-color;
					color:$primary-color ;
			
				}
				td {
					padding: 1rem;
					text-align: center;
					margin: auto;
				}
			}
			#buttonSet{
				display: flex;
				width: 100%;
				
				justify-content: space-around;
				margin: auto;
				padding: 1% 1%;
			
			}
			button{
				width: 30%;

			}
	
		
			/*****Admin-Product-details****/
.productDetails{
	margin: 2%;
	text-align: center;
	h1{
		color: $secondary-color;
	}

}
/******Admin-ADD-PRODUCT****/
			
				form {
					width: 50%;
					margin: auto;
					select,
					textarea{
					font-size: 1.8rem;
					width:100%;
					text-align:center;
					border: 0px;
					padding: 0.5rem;
					
					}
					select,
					textarea,
					input,
					button {
						margin-bottom: 0.5rem;
						border-radius: 1rem;
					}
				
					button {
						background-color: $secondary-color;
						color: $light-color;
						font-size: 1.6rem;
						width: 40%;
						cursor: pointer;
						text-transform: uppercase;
						font-weight: bold;
						text-align: center;
						margin: 0.5rem 1.5rem;
					
					}
					
				}		

	    }
		
    }
}





