 /***CAROUSEL******/
 .carousel {
	display: flex;
	flex-direction: row;
	align-items: center;
	// position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 2%;
	
  }
  
  .carousel a,img {
	width: 100%;
	object-fit: contain;
	align-items:end;
  }
  
  .carousel button {
	// position: absolute;
	top: 0%;
	transform: translateY(-50%);
	background-color:$header-background-color;
	color: $font-color;
	border: none;
	cursor: pointer;
	padding: 1rem;
  }
  
  .carousel button:first-of-type {
	left:10%;
  }
  
  .carousel button:last-of-type {
	right: 2%;
  }