 /***CAROUSEL******/
 .carousel {
	position: relative;
	width: 50%;
	height: 50%;
	overflow: hidden;
	margin: auto;
	
  }
  
  .carousel img {
	width: 100%;

	object-fit: cover;
  }
  
  .carousel button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color:$header-background-color;
	color: $font-color;
	border: none;
	cursor: pointer;
	padding: 15px;
  }
  
  .carousel button:first-of-type {
	left: 0px;
  }
  
  .carousel button:last-of-type {
	right: 0px;
  }