html{
	background-color: #ffffff;

#userHome {
	// padding: 2% 5%;
	// overflow-y: auto; 
	// flex: 1;
  
	form {
		
	  width: 100%;
	  text-align: center;
  
	  input {
		width: 100%;
		margin: auto;
		text-align: center;
		border-radius: 20px;
		font-size: 1.6rem;
	  }
	}
  
	section {
	  background-color: $light-color;
	  margin: 5%;
  
	  h2 {
		text-align: center;
	  }
	  h3{
		margin: 2%;
		padding: 2%;

	  }
  
	  #categorysection {
		display: flex; 
		flex-wrap: nowrap; 
		overflow-x: auto; 
		scroll-snap-type: x mandatory; 
	     margin-left: 2% ; 
		background-color:$primary-color;
		scrollbar-width:thin; /* Change la largeur de la barre de défilement */
		scrollbar-color:$header-background-color transparent; 
	  
  
		/* Customize scrollbar appearance */
		::-webkit-scrollbar {
		  height: 10px;
		
		}
  
		::-webkit-scrollbar-thumb {
	
		  border-radius: 20px; 
		}
  
		::-webkit-scrollbar-track {
		  background: transparent; 
		}
  
		/* Ensure that the scrollbar does not overlap content */
		scroll-padding-inline-end: 16px; 
		article {
		  flex:  0 0 96%; /* Each article takes 100% of the container width */
		  box-sizing: border-box; 
		  background-color: $light-color-secondary;
		  display: flex;
		  gap:10px;
		  margin: 5% ;
		  border: 1px solid #d3d3d3; 
		  flex-direction: column;
		  border-radius: 20px;
		  align-items: left; 
		  padding: 5% ; 
		  scroll-snap-align: start; 
		}
		.container {
			display: flex;
			margin: auto; 
			width: 300px;
			height: 300px; 
			overflow: hidden; 
			align-items: center; 
			justify-content: center;
		}

		.container img {
			max-width: 100%;
			max-height: 100%;
			text-align: center;
			width: auto; 
			height: auto; 
		}
		img:hover {
			transform: scale(1.1);
			transition: transform 0.3s ease-in-out; /* Smooth transition */
		}
  
		p {
		  text-align:center;
		}
  
		button#addTopanier {
		 width: 100%;
		  margin:0 auto;
		  font-size: 1.2rem;
		  background-color:$secondary-color;
		  display: block;
		}
		#addTopanier:hover {
			background-color:$header-background-color;
		}
	}
	}
  }
} 