footer {
	margin-top: 20%;
	padding: 1rem ;
	color: $primary-color;
	background-color: $dark-color2;
	text-align: center;

	a {
		color: $primary-color;
		padding: 1%;
	}
	a:hover{
		color:$secondary-color;
	}


	p {
		margin: 2rem 0 0;
	}
}