footer {
	margin-top: 20%;
	padding: 1rem ;
	color: $primary-color;
	background-color: $background-color-dark;
	text-align: center;

	a {
		color: $primary-color;
		padding: 1%;
	}
	a:hover{
		color:$secondary-color;
	}

	// nav {
	// 	display: grid;
	// 	grid-template-columns: repeat(2, 1fr);
	// 	gap: 1rem;
	// 	justify-content: center;
	// 	margin: 1rem;
	// }

	p {
		margin: 2rem 0 0;
	}
}