footer {
	margin-top: 0px;
	padding: 2rem 0 ;
	color: $primary-color;
	background-color: $light-color-secondary;
	text-align: center;

	a {
		color: $font-color;
		padding: 2%;
	}
	a:hover{
		color:$secondary-color;
	}


	p {
		margin: 2rem 0 0;
		color:$font-color;
	}
    svg{
	    color:$header-background-color;

	}
	svg:hover{
	color: $secondary-color;
	}
}