
header {
	padding: 0 2% ;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: $light-color;
	align-items: center;
	gap: 1.5rem;
	text-transform: uppercase;
	nav{
		gap: 1.5rem;
		margin: 2%;

	}

		img,logo {
			width: 120px;
			margin-left: 10%;
		}
	form {
		width: 100%;
		text-align: center;
		margin: 0.5%;
		input {
			width: 100%;
			margin: auto;
			text-align: center;
			border-radius: 20px;
			font-size: 1.8rem;
		}
	}
}
.burger-menu {
	position: absolute;
	
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	background-color: $light-color;
	width: 40vw;
	height: 80vh;
	padding: 1rem;
	z-index: 10000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.454);
	border-bottom-right-radius: 1rem;

	hr {
		width: 50%;
		margin: 0 auto;
		border-color: $secondary-color;
	}

	a,
	button {
		padding:  1rem;
		text-align: left;
		color: $dark-color;
		// text-transform: initial;
		
	}
	a:hover{
		color:$secondary-color;
	}



}
svg {
	font-size: 2.8rem;
     margin: 0 10px ;
}
.cart {
    position: relative;
}

.cart-length {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
	color: $danger-color;
	
}

.overlayOn {
	position: absolute;
	top: 120;
	left: 200;
	background-color: rgba(0, 0, 0, 0.5);
}
.wrapper {
	margin: 2rem auto 3rem;
	padding: 0 1rem;

	div {
		display: flex;
		gap: 1rem;
		overflow-x: auto;
	}

}