
header {

	display: flex;
	padding: 2%;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-color:$light-color-secondary;
	align-items: center;
	gap: 20px;
	text-transform: uppercase;
	nav{	
		display: flex;
		// justify-content: space-between;
		align-items: center;
		padding: 2%;

	}


		img {
			margin-top: 10% ;
			width: 60px;
		    height: auto;
		
		
		}
		.userIcon{
			
         margin-top: 12%;
		}
		span{
			font-size: 1rem;
		}
		span ::before{
			position: absolute;
			left: 20;
			bottom: -20;
		
		}


}
.burger-menu {

	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	background-color:$light-color-secondary;
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	z-index: 10000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.454);
	border-bottom-right-radius: 1rem;

	a{
		text-align: left;
		font-size: 1.4rem;
		padding: 1%;
	
	}
	
	button {
		padding:  0.5rem;
		color: $dark-color;
		
	}
	button :hover{
		color:$header-background-color;
	
		
	}
	a:hover{
		color:$secondary-color;
	}



}
svg {
	font-size: 1.8rem;
     margin: 0 10px ;
	 color: $header-background-color;
}
svg:hover{
	color:$secondary-color;
}
.cart {
    position: relative;
}

.cart-length {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
	color: $danger-color;
	
}

.overlayOn {
	position: absolute;
	top: 120;
	left: 200;
	background-color: rgba(0, 0, 0, 0.5);
}
.wrapper {
	margin: 2rem auto 3rem;
	padding: 0 1rem;

	div {
		display: flex;
		gap: 1rem;
		overflow-x: auto;
	}

}