@media screen and (min-width: 320px) {
    main#productDetail{
       h2{
        // font-size: 1.4rem;
        // padding: 2%;
       }
        section{
            // // margin-top: 5%;
            // padding: 2%;
         
            article{
                #productDetails{
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    align-items: center;
                
                    .container {
                        display: flex;
                        margin: auto; 
                        width: 300px;
                        height: 300px; 
                        overflow: hidden; 
                        align-items: center; 
                        justify-content: center;
                    }

                    .container img {
                        max-width: 100%;
                        max-height: 100%;
                        text-align: center;
                        width: auto; 
                        height: auto; 
                        border-radius: 20px; 
                       
                        
                    }
                    button#addTopanier {
                        width: 100%;
                        margin: 10% auto;
                        display: block;
                        font-size: 1.2rem;
                        background-color:$secondary-color;
                      }
                 
                    // div #details{
                    //     text-align: center;
                    
                    // }
                    
                      #addTopanier:hover {
                          background-color:$header-background-color;
                      }
                }
            }
        }
    }
}