
#userCart{
    
    margin-bottom: 20%;
    padding:  10% 2%;
    #emptyCart{
        padding: 45% 5%;
        h2{
          text-align: center;
          margin: 5%;
        }
        p{
          text-align: center;
        
      }
 
    }
  
    .userCart{
      background-color: $light-color-secondary;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 5%;
        padding: 5%;
        border-radius: 10%;
       
        
    }
    img{
        width:60%;
        height: auto;
    
    }
    button{
      width:100%;
      margin: auto;
      font-size: 1.4rem;
    }
  #buttonset{
    display: flex;
    gap:20px;
    width: 80%;
    margin: auto;
  }
  #article{
    text-align:left;
    
  }
  h2{
    margin: 5%;
  }
}