
// variable scss

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;700&display=swap');
//admin
$primary-color: #f4f4f4;
$light-color: #f7f7f7;
$light-color-secondary: #efe7dd;
$secondary-color: #319ff9f5;
$header-background-color: #c88a36;
$hovering-color: #1248faf5;
$dark-color: #464646;
$dark-color2:#532007;
$dark-color1: #764b36;
$background-color: #d6d8da;
$background-color-dark: #666667;
$danger-color: #db3b06;
$shadow-color: rgba(0, 0, 0, 0.5);



// Variables de police
$title-font: 'Montserrat', sans-serif; // Police pour les titres
$body-font: 'Roboto', sans-serif; // Police pour le texte général